## assignment 1
                    karthik

In [1]:
print("python\
 word")

python word

In [2]:
print('python's word')

SyntaxError: invalid syntax (<ipython-input-2-13d8f2bdc640>, line 1)

In [3]:
print("python's word")

python's word

In [4]:
print("python\tword")

python	word

In [5]:
print("python\nword")

python
word

In [6]:
name="karthik"
marks=90.3212345
age=21
print("the name of the person is ",name,"and marks is",marks,"and his age is",age)

the name of the person is  karthik and marks is 90.3212345 and his age is 21

In [7]:
print("the name of the person is %12s and his marks is %.2f and his age is %d"%(name,marks,age))

the name of the person is      karthik and his marks is 90.32 and his age is 21

In [9]:
print(f"the name of the person is {name} and his marks is {marks} and age is {age}")

the name of the person is karthik and his marks is 90.3212345 and age is 21

In [10]:
x=20
y=20
id(x)

140737368400880

In [11]:
id(y)

140737368400880

In [12]:
del x

In [13]:
id(x)

NameError: name 'x' is not defined

In [14]:
id(y)

140737368400880

In [15]:
10/3

3.3333333333333335

In [16]:
10//3

3

In [17]:
10/2

5.0

In [20]:
a=240
b=1
a|b

241

In [21]:
bin(a)

'0b11110000'

In [22]:
bin(b)

'0b1'

In [23]:
10>9 and 12>11

True

In [24]:
10>9 and 11>12

False

In [25]:
9>10 and 11>12

False

In [26]:
10>9 or 12>11

True

In [27]:
10>9 or 11>12

True

In [28]:
9>10 or 11>12

False

In [29]:
10>9 and 12>m

NameError: name 'm' is not defined

In [30]:
12>m and 10>9

NameError: name 'm' is not defined

In [31]:
9>10 and 12>m

False

In [32]:
12>m and 9>10

NameError: name 'm' is not defined

In [34]:
 not True

False

In [35]:
not False

True

In [36]:
str="python"
"y" in str

True

In [37]:
"e" in str

False

In [38]:
a=10
b=10
id(a)

140737368400560

In [39]:
id(b)

140737368400560

In [40]:
a is b

True

In [41]:
a=-4
b=-4
a is b

True

In [42]:
a=-5
b=-5
a is b

True

In [43]:
a=-6
a=-6
a is b

False

In [44]:
a=255
b=255
a is b

True

In [46]:
a=256
b=256
a is b

True

In [47]:
a=257
b=257
a is b

False

In [48]:
2**-1

0.5

In [49]:
2**2/4+1

2.0

In [52]:
2/2+1*2*2

5.0